body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.btn {
  background: transparent;
  color: rgb(65, 65, 65); 
  border: 1px solid rgb(65, 65, 65);
  cursor: pointer;
  padding: 0.5 rem; 
  transition: all 0.5 ease;
}

.btn:hover {
  background: rgb(65, 65, 65);
  color: white; 
}

@import './_Home.css'; 
@import './_contact.css';
@import './_ContactForm.css';
@import './_ContactItem.css'; 
@import './_ContactList.css'; 