img {
  width: 100px;
}
table {
  text-align: left;
}

tr {
  cursor: pointer;
}

th {
  cursor: default;
  padding: 15px;
}

.image-cell {
  text-align: center;
}

.button-container {
  text-align: left;
  margin-bottom: 20px;
}
