body{
  width: 100vw;
  height: 100vh;
}
.list-container{
  margin: 50px auto;
}
.contact-info{
  display: flex;  
  width: 400px;
  height: 180px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}
.leftside{
  width: 50%;
  flex-direction: row;
}
.rightside{

}
.name{
  font-weight: bolder;
  font-size: 22px;
  color: black;
}
.email, .phone{
  color: black;
}
.photo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  border: 3px solid white;
}

@media (min-width: 640px){
  .contact-list{
    display: flex;
    flex-wrap: wrap;
  }

}
  
