.header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

#newcontact-info {
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#addcontact-btn {
  margin-bottom: 20px;
  margin-left: 5%;
}

.table-center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  text-align: center;
}

td {
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  text-align: center;
}

.card-phoneNumber {
  margin-top: 10px;
  margin-bottom: 10px;
}
