

.App {
  text-align: center;
  background-color: #282c34;
}


.header {
  background-color: #282c34;
  height: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
li .item {
  color: white;
  font-size: 1.25vw;
  background-color:#3f3f40;
  height: 8vw;
  padding-bottom: 1vw;
  margin: 0.1vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3vw white;
}
li .item-image  {
  object-fit: cover;
  background-color: #3f3f40;
  height: 8vw;
  width: 8vw;
  padding: 0;
  margin: 0.1vw;
  display: flex;
  align-items: center;
  border: solid 0.3vw white;
}

.inputs {
  display: flex;
  justify-content: center;
}

.item-contact {
  color: white;
}

.item-image-contact {
  object-fit:cover;
  border: solid white 0.2vw;
  width: 10vw;
  height: 10vw;
}

hr {
  display: block;
}

