.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  background-color: lightslategray;
  color: white;
}
.container .row .col-md-3 {
  justify-content: center;
  align-content: center;
  display: flex;
  border: black solid 0.5px;
}

.container {
  align-self: center;
  align-self: flex-end;
}

.header {
  margin-bottom: 30px;
  margin-top: 30px;
}

img {
  width: 200px;
  height: auto;
}
.contact-display {
  border: black solid 0.5px;
  padding: 10px;
}
.btn-default {
  margin-left: -320px;
}
.btn-primary {
  margin-bottom: 5px;
  margin-left: -11px;
}
.btn-danger {
  margin-top: 5px;
}
