body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pageHeader {
  text-align: center;
  margin: 5vh 0 5vh 0;
}

form {
  text-align: center;
  width: 40vw;
  margin: auto;
  padding-top: 5vh;
}

.addContactBtn {
  margin-bottom: 3vh;
}

.backBtn {
  margin-bottom: 5vh;
}

.tableWidth {
  width: 75vw;
  margin: auto;
}

.contactTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 35px 5px rgba(166, 166, 166, 0.75);
}

.imgMaxWidth {
  max-width: 300px;
}
