img {
  height: 100px;
  width: 120px;
}

.add-btn {
  margin-top: 50px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
}

.button:hover {
  color: rgb(149, 149, 240);
}

.btn {
  margin-right: 10px;
  margin-left: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.contact {
  margin: auto;
}

.contact-view-img {
  height: 200px;
  width: 220px;
}
