body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-header {
  text-align: center;
}

.container-fluid {
  margin: 0px auto;
  width: 70%;
}

#form {
  margin: 30px auto 0px;
  width: 50%;
}

form {
  margin-bottom: 15px;
}

.img-thumbnail {
  max-width: 100px;
}
