body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.userphoto {
  margin-top: 5px;
  height: 200px;
}

input.form-control {
  border-right-width: 800px;
}

.btn {
  border-top-style: solid;
  padding-right: 222px;
}
