/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* #contact-list {
  max-height: 100vh;
  overflow: scroll;
}

.contact-list-parent {
  max-height: 100px;
}

.list-group {
  max-height: 100px;
  overflow: scroll;
} */

#contact-list-container::-webkit-scrollbar {
  display: none;
}


#contact-list-container {
  height: 93vh;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
