:root {
  --gradient-color: linear-gradient(to right, #7c4dff, #18a9e6);
}

.gradient-navbar {
  background: var(--gradient-color);
  text-indent: 25px;
}

h1,
button {
  font-size: 50px;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
  background: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.967);
}
